<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
    <div>
        <h1>Course</h1>
        <h3>Registration</h3>
        <form action="#" th:action="@{/home}" method="post">
            <label for="username">Username:</label><br>
             <input type="text" id="username" name="username" required><br>
            <label for="course">Course:</label><br>
            <input type="course" id="course" name="course" required><br><br>
            <input type="submit" value="Register" >
          </form>
  
</body>
</html>
